@import "bootstrap-sprockets";
@import "bootstrap";

.margin-vertial-none {
  margin-top: 0px;
  margin-bottom: 0px;  
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h1 {
    margin: 0;
  }
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recipe {
  width: 30%;
  min-width: 300px;
}
